.app-container {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20px;
}

.cart-section {
  margin-top: 40px;
  padding: 20px;
  background: #ecf0f1;
  border-radius: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.clear-btn {
  margin-top: 10px;
  background-color: #e17055;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #d35400;
}
